html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 42px;
}

#alertbox {
  display: inline-block;
  padding: 20px 60px;
  background: rgb(24, 63, 233);
  color: #FFF;
  margin: 25px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}
